/* small device */
@media screen and (max-width: 576px) {
  header{
    padding-top: 20px;
  }
  #menu_button{
    display: block;
    font-size: 1.7rem;
    border: none;
    cursor: pointer;
  }  
  .nav_item{
    display:none;
  }
  .banner{
    flex-direction: column-reverse;
    margin-bottom: 0rem;
  }
  .banner_text{
    margin-top: 2rem;
    text-align: center;
  }
  .banner_title{
    font-size: 3rem;
    min-width: 100%;
  }
  .banner_image{
    max-width: 90%;
    margin: 0 auto;
  }
  .banner_image img{
    width: 100%;
    margin: 0 auto;
  }
  .btn{
    margin: 0 auto;
  }
/* products */
  .featurs_product {
    flex-direction: column;
  }
  .left_side {
    min-width: 97%;
    padding: 1rem 0;
  }
  .left_side img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
  }
  .right_side {
    padding: 0;
  }
  .right_side h1{
    font-size: 1.7rem;
  }
  .right_side p{
    min-width: 100%;
  }
  #collections{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
  #collection{
    grid-template-columns: repeat(1, 1fr);
    
}
.col_title{
  margin-top: 2rem;
}
#logos_container div{
  display: grid;
 grid-template-columns: repeat(2 , 1fr);
  align-items: center;
  gap: 1.5rem;
}
}

/* medium device */
@media screen and (min-width:578px) and (max-width:992px) {
    .featurs_product {
        flex-direction: column;
      }
      .left_side {
        min-width: 100%;
        padding: 1rem 0;
      }
      .left_side img {
        margin: 0 auto;
        min-width: 100%;
      }
      .right_side {
        padding: 0;
      }
      .right_side h1{
        font-size: 1.7rem;
      }
      .right_side p{
        min-width: 100%;
      }
      #collections{
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        
    }
      #collection{
        grid-template-columns: repeat(2, 1fr);
        
    }
    #logos_container div{
      display:flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
    }
    .col_title{
      margin-top: 2rem;
    }
}